@model ForgenKeyRelationship.NetCore.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4">Publisher Details</h1>
    <hr />

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center text-color-primary">Publisher Information</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">Name</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

                            <dt class="col-sm-2">Address</dt>
                            <dd class="col-sm-10">@Html.DisplayFor(model => model.Address)</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 text-center">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.PublisherId">Edit</a> |
        <a class="btn btn-secondary" asp-action="GetPublisherList">Back to List</a>
    </div>
</div>
