@model ForgenKeyRelationship.NetCore.Models.Author

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center text-color-primary">Create Author</h4>
                    <hr />
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Bio" class="form-label">Bio</label>
                            <input asp-for="Bio" class="form-control" />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-action="GetAllAuthor" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
